Relevant Carriers are:
AS, DL, HA, NK, WN 

Data from: [USDOT - Airline On-Time Performance Data](https://www.transtats.bts.gov/DataIndex.asp) -- [Documentation Here](https://www.transtats.bts.gov/TableInfo.asp)

In [1]:
import pandas as pd
import os

In [20]:
carrier_li = ['AS', 'DL', 'HA', 'NK', 'WN' ]

ontime_look = pd.read_csv('OTP_dat/17.06_ONTIME.csv')
ontime_look = ontime_look[ontime_look['CARRIER'].isin(carrier_li)]

/Users/Sam_I_Am/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
print(ontime_look.columns, ontime_look.shape, ontime_look['CARRIER'].unique())

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'UNIQUE_CARRIER', 'AIRLINE_ID', 'CARRIER', 'TAIL_NUM', 'FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY',
       'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK',
       'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME',
       'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15',
       'ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'CANCELLED', 'CANCELLATION_CODE',
       'DIVERTED', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Unnamed: 48'],
      dtype='object') (233208, 49) ['NK' 'DL' 'WN' 'HA' 'AS']

In [22]:
carrierKey = pd.read_csv('UniqueCarrierLookup.csv')
#ontime_look.merge(carrierKey,left_on='CARRIER', right_on='Code')

In [28]:
ontime_look.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,...,DIVERTED,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 48
5970,2017,2,6,14,3,2017-06-14,NK,20416,NK,N627NK,...,0.0,196.0,156.0,1217.0,NaN,NaN,NaN,NaN,NaN,NaN
5971,2017,2,6,14,3,2017-06-14,NK,20416,NK,N627NK,...,0.0,107.0,67.0,409.0,0.0,0.0,18.0,0.0,0.0,NaN
5972,2017,2,6,1,4,2017-06-01,NK,20416,NK,N644NK,...,0.0,173.0,141.0,992.0,4.0,0.0,13.0,0.0,0.0,NaN
5973,2017,2,6,2,5,2017-06-02,NK,20416,NK,N605NK,...,0.0,159.0,134.0,992.0,NaN,NaN,NaN,NaN,NaN,NaN
5974,2017,2,6,3,6,2017-06-03,NK,20416,NK,N609NK,...,0.0,147.0,133.0,992.0,NaN,NaN,NaN,NaN,NaN,NaN