Relevant Carriers are:
HA, AA, DL, UA, WN

Data from: [USDOT - T-100 Segment Data (US Carriers Only)](https://www.transtats.bts.gov/DataIndex.asp)

In [36]:
import pandas as pd 
pd.__version__

'0.22.0'

In [37]:
segments2017raw =  pd.read_csv('Segments_dat/2017SegmentsUSCarriers.csv')
segments2017raw

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,3450.0,8.0,2.0,0.0,0.0,879.0,186.0,174.0,...,4,479,1,2017,1,1,2,L,DU,NaN
1,0.0,2.0,6900.0,16.0,6.0,0.0,0.0,191.0,150.0,114.0,...,4,479,1,2017,1,1,1,L,DU,NaN
2,0.0,1.0,5300.0,8.0,4.0,0.0,0.0,191.0,72.0,54.0,...,6,646,1,2017,1,1,1,L,DU,NaN
3,0.0,1.0,3450.0,8.0,2.0,0.0,0.0,211.0,90.0,78.0,...,4,479,1,2017,1,1,1,L,DU,NaN
4,0.0,1.0,5300.0,8.0,2.0,0.0,0.0,1272.0,192.0,174.0,...,6,646,1,2017,1,1,3,L,DU,NaN
5,0.0,1.0,5300.0,8.0,1.0,0.0,0.0,1212.0,186.0,162.0,...,6,646,1,2017,1,1,3,L,DU,NaN
6,0.0,1.0,5300.0,8.0,1.0,0.0,0.0,304.0,66.0,54.0,...,6,646,1,2017,1,1,1,L,DU,NaN
7,0.0,4.0,13800.0,32.0,21.0,0.0,0.0,194.0,240.0,186.0,...,4,479,1,2017,1,1,1,L,IU,NaN
8,0.0,1.0,3450.0,8.0,1.0,0.0,0.0,25.0,24.0,12.0,...,4,479,1,2017,1,1,1,L,DU,NaN
9,0.0,1.0,3450.0,8.0,3.0,0.0,0.0,310.0,108.0,90.0,...,4,479,1,2017,1,1,1,L,DU,NaN
10,0.0,1.0,3450.0,8.0,8.0,0.0,0.0,237.0,78.0,60.0,...,4,479,1,2017,1,1,1,L,DU,NaN
11,0.0,1.0,5300.0,8.0,2.0,0.0,0.0,636.0,144.0,126.0,...,6,646,1,2017,1,1,2,L,DU,NaN
12,0.0,1.0,3450.0,8.0,1.0,0.0,0.0,425.0,162.0,150.0,...,4,479,1,2017,1,1,1,L,DU,NaN
13,0.0,1.0,5300.0,8.0,5.0,0.0,0.0,891.0,144.0,120.0,...,6,646,1,2017,1,1,2,L,DU,NaN
14,0.0,4.0,13800.0,32.0,24.0,0.0,0.0,146.0,216.0,168.0,...,4,479,1,2017,1,1,1,L,DU,NaN
15,0.0,1.0,3450.0,8.0,3.0,0.0,0.0,169.0,60.0,54.0,...,4,479,1,2017,1,1,1,L,DU,NaN
16,0.0,8.0,27600.0,64.0,52.0,0.0,0.0,96.0,312.0,228.0,...,4,479,1,2017,1,1,1,L,IU,NaN
17,0.0,1.0,5300.0,8.0,2.0,0.0,0.0,78.0,42.0,18.0,...,6,646,1,2017,1,1,1,L,DU,NaN
18,0.0,1.0,3450.0,8.0,2.0,0.0,0.0,88.0,48.0,42.0,...,4,479,1,2017,1,1,1,L,DU,NaN
19,0.0,1.0,3450.0,8.0,1.0,0.0,0.0,34.0,24.0,12.0,...,4,479,1,2017,1,1,1,L,DU,NaN
20,0.0,1.0,3450.0,8.0,4.0,0.0,0.0,28.0,36.0,18.0,...,4,479,1,2017,1,1,1,L,DU,NaN
21,0.0,1.0,3450.0,8.0,8.0,0.0,0.0,113.0,60.0,42.0,...,4,479,1,2017,1,1,1,L,DU,NaN
22,0.0,1.0,5300.0,8.0,6.0,0.0,0.0,743.0,114.0,96.0,...,6,646,1,2017,1,1,2,L,DU,NaN
23,0.0,1.0,3450.0,8.0,2.0,0.0,0.0,879.0,234.0,216.0,...,4,479,1,2017,1,1,2,L,DU,NaN
24,0.0,1.0,3450.0,8.0,2.0,0.0,0.0,191.0,54.0,42.0,...,4,479,1,2017,1,1,1,L,DU,NaN
25,0.0,1.0,5300.0,8.0,4.0,0.0,0.0,191.0,54.0,36.0,...,6,646,1,2017,1,1,1,L,DU,NaN
26,0.0,1.0,3450.0,8.0,8.0,0.0,0.0,237.0,108.0,90.0,...,4,479,1,2017,1,1,1,L,DU,NaN
27,0.0,2.0,6900.0,16.0,16.0,0.0,0.0,146.0,120.0,78.0,...,4,479,1,2017,1,1,1,L,DU,NaN
28,0.0,1.0,3450.0,8.0,2.0,0.0,0.0,88.0,36.0,24.0,...,4,479,1,2017,1,1,1,L,DU,NaN
29,0.0,1.0,3450.0,8.0,4.0,0.0,0.0,28.0,66.0,42.0,...,4,479,1,2017,1,1,1,L,DU,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283619,712.0,356.0,640800.0,3204.0,2265.0,0.0,0.0,70.0,12389.0,10039.0,...,1,125,1,2017,3,7,1,F,DU,NaN
283620,717.0,714.0,22625600.0,91392.0,63535.0,76205.0,0.0,163.0,34068.0,21187.0,...,6,608,1,2017,3,8,1,F,DU,NaN
283621,720.0,715.0,22630900.0,91520.0,63384.0,78994.0,0.0,163.0,33974.0,21245.0,...,6,608,1,2017,3,7,1,F,DU,NaN
283622,738.0,369.0,664200.0,3321.0,2251.0,0.0,0.0,70.0,14834.0,11956.0,...,1,125,1,2017,3,7,1,F,DU,NaN
283623,742.0,742.0,890400.0,4082.0,2702.0,2905.0,0.0,11.0,9551.0,7325.0,...,0,79,1,2017,2,5,1,F,DU,NaN
283624,754.0,806.0,25554200.0,103168.0,70368.0,445741.0,0.0,100.0,33519.0,17792.0,...,6,608,1,2017,2,4,1,F,DU,NaN
283625,754.0,805.0,25526000.0,103040.0,71372.0,174481.0,10.0,100.0,30943.0,18973.0,...,6,608,1,2017,2,4,1,F,DU,NaN
283626,758.0,755.0,23859300.0,96640.0,68169.0,450737.0,2.0,100.0,31824.0,16896.0,...,6,608,1,2017,1,2,1,F,DU,NaN
283627,758.0,752.0,23766300.0,96256.0,67582.0,186060.0,0.0,100.0,30302.0,18315.0,...,6,608,1,2017,1,2,1,F,DU,NaN
283628,759.0,759.0,910800.0,4184.0,2619.0,12896.0,0.0,11.0,10191.0,7914.0,...,0,79,1,2017,2,5,1,F,DU,NaN
283629,786.0,782.0,24717200.0,100096.0,77276.0,175013.0,0.0,100.0,29392.0,18350.0,...,6,608,1,2017,1,1,1,F,DU,NaN
283630,786.0,784.0,24780600.0,100352.0,74864.0,465843.0,0.0,100.0,32728.0,17089.0,...,6,608,1,2017,1,1,1,F,DU,NaN
283631,823.0,823.0,26036400.0,105344.0,78613.0,180874.0,0.0,100.0,31408.0,19033.0,...,6,608,1,2017,2,6,1,F,DU,NaN
283632,824.0,412.0,741600.0,3708.0,2276.0,0.0,0.0,91.0,19282.0,15079.0,...,1,125,1,2017,2,5,1,F,DU,NaN
283633,827.0,827.0,26166800.0,105856.0,79788.0,451991.0,0.0,100.0,35202.0,18203.0,...,6,608,1,2017,2,6,1,F,DU,NaN
283634,830.0,415.0,747000.0,3735.0,2227.0,0.0,0.0,91.0,19422.0,15189.0,...,1,125,1,2017,2,5,1,F,DU,NaN
283635,844.0,842.0,26682600.0,107776.0,76550.0,429490.0,0.0,100.0,34860.0,18396.0,...,6,608,1,2017,2,5,1,F,DU,NaN
283636,844.0,842.0,26680300.0,107776.0,78112.0,166478.0,0.0,100.0,32040.0,19571.0,...,6,608,1,2017,2,5,1,F,DU,NaN
283637,853.0,852.0,26970800.0,109056.0,84080.0,445637.0,0.0,100.0,36088.0,18789.0,...,6,608,1,2017,3,7,1,F,DU,NaN
283638,853.0,852.0,26971800.0,109056.0,83063.0,173281.0,0.0,100.0,32953.0,19779.0,...,6,608,1,2017,3,7,1,F,DU,NaN
283639,859.0,857.0,27141000.0,109696.0,80755.0,172669.0,0.0,100.0,32980.0,20064.0,...,6,608,1,2017,3,8,1,F,DU,NaN
283640,859.0,856.0,27116900.0,109568.0,78853.0,457287.0,0.0,100.0,36143.0,18809.0,...,6,608,1,2017,3,8,1,F,DU,NaN
283641,859.0,854.0,27035200.0,109312.0,75516.0,519050.0,1.0,100.0,35896.0,18845.0,...,6,608,1,2017,1,3,1,F,DU,NaN
283642,859.0,853.0,27005500.0,109184.0,74401.0,192539.0,0.0,100.0,33477.0,20260.0,...,6,608,1,2017,1,3,1,F,DU,NaN
283643,990.0,495.0,891000.0,4455.0,2801.0,0.0,0.0,91.0,23166.0,18117.0,...,1,125,1,2017,2,6,1,F,DU,NaN
283644,1024.0,512.0,921600.0,4608.0,3272.0,0.0,0.0,91.0,23962.0,18739.0,...,1,125,1,2017,2,6,1,F,DU,NaN
283645,1086.0,543.0,977400.0,4887.0,3432.0,0.0,0.0,91.0,25412.0,19874.0,...,1,125,1,2017,3,7,1,F,DU,NaN
283646,1090.0,545.0,981000.0,4905.0,3529.0,0.0,0.0,91.0,25506.0,19947.0,...,1,125,1,2017,3,7,1,F,DU,NaN
283647,1156.0,578.0,1040400.0,5202.0,3722.0,0.0,0.0,91.0,27050.0,21155.0,...,1,125,1,2017,3,8,1,F,DU,NaN
283648,1162.0,581.0,1045800.0,5229.0,4047.0,0.0,0.0,91.0,27191.0,21265.0,...,1,125,1,2017,3,8,1,F,DU,NaN

In [38]:
segments2017raw.columns

Index(['DEPARTURES_SCHEDULED', 'DEPARTURES_PERFORMED', 'PAYLOAD', 'SEATS',
       'PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'RAMP_TO_RAMP', 'AIR_TIME',
       'UNIQUE_CARRIER', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
       'UNIQUE_CARRIER_ENTITY', 'REGION', 'CARRIER', 'CARRIER_NAME',
       'CARRIER_GROUP', 'CARRIER_GROUP_NEW', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_COUNTRY', 'ORIGIN_COUNTRY_NAME',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_COUNTRY', 'DEST_COUNTRY_NAME',
       'DEST_WAC', 'AIRCRAFT_GROUP', 'AIRCRAFT_TYPE', 'AIRCRAFT_CONFIG',
       'YEAR', 'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS', 'DATA_SOURCE',
       'Unnamed: 50'],
      dtype='object')

In [41]:
#narrow DF to records of flights with orig or dest in HI or records with BOTH orig and dest in HI
HIwTF = segments2017raw[(segments2017raw['DEST_STATE_NM'] == 'Hawaii')| (segments2017raw['ORIGIN_STATE_NM'] == 'Hawaii')]
HI_intra = segments2017raw[(segments2017raw['DEST_STATE_NM'] == 'Hawaii') & (segments2017raw['ORIGIN_STATE_NM'] == 'Hawaii')]

In [42]:
print(segments2017raw.shape, HIwTF.shape, HI_intra.shape)

(283649, 51) (3812, 51) (995, 51)

In [44]:
#group dataframes by carrier name
TF_HI = HIwTF.groupby('UNIQUE_CARRIER_NAME')
intra_HI = HI_intra.groupby('UNIQUE_CARRIER_NAME')

In [66]:
# count flights
inter_CntFlights = TF_HI['UNIQUE_CARRIER'].count()
inter_CntFlights.rename('CountFlights Inter', inplace=True)
intra_CntFlights = intra_HI['UNIQUE_CARRIER'].count()
intra_CntFlights.rename('CountFlights Intra', inplace=True)
#sum seats
inter_SumSeats = TF_HI['SEATS'].sum()
inter_SumSeats.rename('SumSeats Inter', inplace=True)
intra_SumSeats = intra_HI['SEATS'].sum()
intra_SumSeats.rename('SumSeats Intra', inplace=True)
#sum passangers
inter_SumPass = TF_HI['PASSENGERS'].sum()
inter_SumPass.rename('SumPass Inter', inplace=True)
intra_SumPass = intra_HI['PASSENGERS'].sum()
intra_SumPass.rename('SumPass Intra', inplace=True)

summary_series = [inter_CntFlights, intra_CntFlights, inter_SumSeats, intra_SumSeats, inter_SumPass, intra_SumPass]

smryDF = pd.concat(summary_series, axis=1)

smryDF['PctPass Inter'] = smryDF['SumPass Inter'] / smryDF['SumPass Inter'].sum() * 100

smryDF['Year'] = 2017
smryDF.set_index('Year',drop=True, append=True, inplace=True)
smryDF

,,CountFlights Inter,CountFlights Intra,SumSeats Inter,SumSeats Intra,SumPass Inter,SumPass Intra,PctPass Inter
,Year,,,,,,,
ABX Air Inc,2017,16,NaN,0.0,NaN,0.0,NaN,0.000000
Alaska Airlines Inc.,2017,503,9.0,1751537.0,1590.0,1538570.0,1499.0,9.284662
Allegiant Air,2017,16,NaN,29240.0,NaN,28112.0,NaN,0.169645
Aloha Air Cargo,2017,98,98.0,0.0,0.0,0.0,0.0,0.000000
American Airlines Inc.,2017,212,9.0,1872925.0,1878.0,1610251.0,1587.0,9.717228
Asia Pacific,2017,37,NaN,0.0,NaN,0.0,NaN,0.000000
Atlas Air Inc.,2017,55,3.0,1005.0,255.0,471.0,235.0,0.002842
Avjet Corporation,2017,47,7.0,552.0,78.0,206.0,25.0,0.001243
CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle,2017,6,1.0,78.0,13.0,61.0,10.0,0.000368
Delta Air Lines Inc.,2017,361,3.0,2184235.0,578.0,1962940.0,544.0,11.845567
Empire Airlines Inc.,2017,125,125.0,299616.0,299616.0,151301.0,151301.0,0.913042
Federal Express Corporation,2017,188,102.0,0.0,0.0,0.0,0.0,0.000000
Hawaiian Airlines Inc.,2017,691,159.0,9446720.0,5627198.0,7529058.0,4185901.0,45.434888
Island Air Hawaii,2017,72,72.0,688144.0,688144.0,489836.0,489836.0,2.955967
"Jet Aviation Flight Services, Inc.",2017,16,NaN,178.0,NaN,81.0,NaN,0.000489
"KaiserAir, Inc.",2017,25,3.0,9896.0,192.0,5427.0,111.0,0.032750
Kalitta Air LLC,2017,50,9.0,0.0,0.0,0.0,0.0,0.000000
Makani Kai Air Charters,2017,32,32.0,19008.0,19008.0,7629.0,7629.0,0.046038
Miami Air International,2017,4,NaN,692.0,NaN,237.0,NaN,0.001430
"Mokulele Flight Services, Inc.",2017,198,198.0,206046.0,206046.0,150613.0,150613.0,0.908890
National Air Cargo Group Inc d/ba National Airlines,2017,2,NaN,0.0,NaN,0.0,NaN,0.000000
Omni Air International LLC,2017,34,1.0,65328.0,248.0,61287.0,215.0,0.369843
Polar Air Cargo Airways,2017,18,1.0,0.0,0.0,0.0,0.0,0.000000
Rhoades Aviation dba Transair,2017,128,128.0,0.0,0.0,0.0,0.0,0.000000
United Air Lines Inc.,2017,609,12.0,3344932.0,3102.0,2815483.0,2107.0,16.990327
United Parcel Service,2017,163,23.0,0.0,0.0,0.0,0.0,0.000000
Virgin America,2017,60,NaN,267070.0,NaN,219531.0,NaN,1.324783
Western Global,2017,46,NaN,0.0,NaN,0.0,NaN,0.000000

### Functions to Repeat for All Yrs

In [78]:

def summarizeSegData(year):
    yr = str(year)
    
    segmentsRaw = pd.read_csv('Segments_dat/' + yr + 'SegmentsUSCarriers.csv')
    
    #narrow DF to records of flights with orig or dest in HI or records with BOTH orig and dest in HI
    HIwTF = segmentsRaw[(segmentsRaw['DEST_STATE_NM'] == 'Hawaii')| (segmentsRaw['ORIGIN_STATE_NM'] == 'Hawaii')]
    HI_intra = segmentsRaw[(segmentsRaw['DEST_STATE_NM'] == 'Hawaii') & (segmentsRaw['ORIGIN_STATE_NM'] == 'Hawaii')]
    
    #group dataframes by carrier name
    TF_HI = HIwTF.groupby('UNIQUE_CARRIER_NAME')
    intra_HI = HI_intra.groupby('UNIQUE_CARRIER_NAME')
    
    
    # count flights
    inter_CntFlights = TF_HI['UNIQUE_CARRIER'].count()
    inter_CntFlights.rename('CountFlights Inter', inplace=True)
    intra_CntFlights = intra_HI['UNIQUE_CARRIER'].count()
    intra_CntFlights.rename('CountFlights Intra', inplace=True)
    #sum seats
    inter_SumSeats = TF_HI['SEATS'].sum()
    inter_SumSeats.rename('SumSeats Inter', inplace=True)
    intra_SumSeats = intra_HI['SEATS'].sum()
    intra_SumSeats.rename('SumSeats Intra', inplace=True)
    #sum passangers
    inter_SumPass = TF_HI['PASSENGERS'].sum()
    inter_SumPass.rename('SumPass Inter', inplace=True)
    intra_SumPass = intra_HI['PASSENGERS'].sum()
    intra_SumPass.rename('SumPass Intra', inplace=True)

    summary_series = [inter_CntFlights, intra_CntFlights, inter_SumSeats, intra_SumSeats, inter_SumPass, intra_SumPass]

    smryDF = pd.concat(summary_series, axis=1)

    smryDF['PctPass Inter'] = smryDF['SumPass Inter'] / smryDF['SumPass Inter'].sum() * 100
    smryDF['PctPass Intra'] = smryDF['SumPass Intra'] / smryDF['SumPass Intra'].sum() * 100
    
    smryDF['Year'] = yr
    smryDF.set_index('Year',drop=True, append=True, inplace=True)

    return smryDF

In [79]:
seg_yrs = list(range(2013,2018))
df_li = []

for ea in seg_yrs:
    summedDF = summarizeSegData(ea)
    df_li.append(summedDF)
    
    
full_DF = pd.concat(df_li)

/Users/Sam_I_Am/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [80]:
full_DF.to_csv('Segments_dat/SegmentRollup.csv')

### Test groupings below

In [47]:
# count flights including those to and from HI
TF_HI['UNIQUE_CARRIER'].count().sort_values(ascending=False)

UNIQUE_CARRIER_NAME
Hawaiian Airlines Inc.                                  691
United Air Lines Inc.                                   609
Alaska Airlines Inc.                                    503
Delta Air Lines Inc.                                    361
American Airlines Inc.                                  212
Mokulele Flight Services, Inc.                          198
Federal Express Corporation                             188
United Parcel Service                                   163
Rhoades Aviation dba Transair                           128
Empire Airlines Inc.                                    125
Aloha Air Cargo                                          98
Island Air Hawaii                                        72
Virgin America                                           60
Atlas Air Inc.                                           55
Kalitta Air LLC                                          50
Avjet Corporation                                        47
Western Global                                           46
Asia Pacific                                             37
Omni Air International LLC                               34
Makani Kai Air Charters                                  32
KaiserAir, Inc.                                          25
Polar Air Cargo Airways                                  18
Jet Aviation Flight Services, Inc.                       16
Allegiant Air                                            16
ABX Air Inc                                              16
CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle      6
Miami Air International                                   4
National Air Cargo Group Inc d/ba National Airlines       2
Name: UNIQUE_CARRIER, dtype: int64

In [48]:
# count inter Hawaiian Islands flights 
intra_HI['UNIQUE_CARRIER'].count().sort_values(ascending=False)

UNIQUE_CARRIER_NAME
Mokulele Flight Services, Inc.                          198
Hawaiian Airlines Inc.                                  159
Rhoades Aviation dba Transair                           128
Empire Airlines Inc.                                    125
Federal Express Corporation                             102
Aloha Air Cargo                                          98
Island Air Hawaii                                        72
Makani Kai Air Charters                                  32
United Parcel Service                                    23
United Air Lines Inc.                                    12
Kalitta Air LLC                                           9
American Airlines Inc.                                    9
Alaska Airlines Inc.                                      9
Avjet Corporation                                         7
KaiserAir, Inc.                                           3
Delta Air Lines Inc.                                      3
Atlas Air Inc.                                            3
Omni Air International LLC                                1
CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle      1
Polar Air Cargo Airways                                   1
Name: UNIQUE_CARRIER, dtype: int64

In [50]:
# sum SEATS on flights including those to and from HI
TF_HI['SEATS'].sum().sort_values(ascending=False)

UNIQUE_CARRIER_NAME
Hawaiian Airlines Inc.                                  9446720.0
United Air Lines Inc.                                   3344932.0
Delta Air Lines Inc.                                    2184235.0
American Airlines Inc.                                  1872925.0
Alaska Airlines Inc.                                    1751537.0
Island Air Hawaii                                        688144.0
Empire Airlines Inc.                                     299616.0
Virgin America                                           267070.0
Mokulele Flight Services, Inc.                           206046.0
Omni Air International LLC                                65328.0
Allegiant Air                                             29240.0
Makani Kai Air Charters                                   19008.0
KaiserAir, Inc.                                            9896.0
Atlas Air Inc.                                             1005.0
Miami Air International                                     692.0
Avjet Corporation                                           552.0
Jet Aviation Flight Services, Inc.                          178.0
CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle         78.0
Asia Pacific                                                  0.0
Aloha Air Cargo                                               0.0
Western Global                                                0.0
Federal Express Corporation                                   0.0
Kalitta Air LLC                                               0.0
National Air Cargo Group Inc d/ba National Airlines           0.0
Polar Air Cargo Airways                                       0.0
Rhoades Aviation dba Transair                                 0.0
United Parcel Service                                         0.0
ABX Air Inc                                                   0.0
Name: SEATS, dtype: float64

In [51]:
# Sum SEATS on inter Hawaiian Islands flights 
intra_HI['SEATS'].sum().sort_values(ascending=False)

UNIQUE_CARRIER_NAME
Hawaiian Airlines Inc.                                  5627198.0
Island Air Hawaii                                        688144.0
Empire Airlines Inc.                                     299616.0
Mokulele Flight Services, Inc.                           206046.0
Makani Kai Air Charters                                   19008.0
United Air Lines Inc.                                      3102.0
American Airlines Inc.                                     1878.0
Alaska Airlines Inc.                                       1590.0
Delta Air Lines Inc.                                        578.0
Atlas Air Inc.                                              255.0
Omni Air International LLC                                  248.0
KaiserAir, Inc.                                             192.0
Avjet Corporation                                            78.0
CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle         13.0
Kalitta Air LLC                                               0.0
Federal Express Corporation                                   0.0
Polar Air Cargo Airways                                       0.0
Rhoades Aviation dba Transair                                 0.0
Aloha Air Cargo                                               0.0
United Parcel Service                                         0.0
Name: SEATS, dtype: float64

In [52]:
# sum PASSANGERS on flights including those to and from HI
TF_HI['PASSENGERS'].sum().sort_values(ascending=False)

UNIQUE_CARRIER_NAME
Hawaiian Airlines Inc.                                  7529058.0
United Air Lines Inc.                                   2815483.0
Delta Air Lines Inc.                                    1962940.0
American Airlines Inc.                                  1610251.0
Alaska Airlines Inc.                                    1538570.0
Island Air Hawaii                                        489836.0
Virgin America                                           219531.0
Empire Airlines Inc.                                     151301.0
Mokulele Flight Services, Inc.                           150613.0
Omni Air International LLC                                61287.0
Allegiant Air                                             28112.0
Makani Kai Air Charters                                    7629.0
KaiserAir, Inc.                                            5427.0
Atlas Air Inc.                                              471.0
Miami Air International                                     237.0
Avjet Corporation                                           206.0
Jet Aviation Flight Services, Inc.                           81.0
CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle         61.0
Asia Pacific                                                  0.0
Aloha Air Cargo                                               0.0
Western Global                                                0.0
Federal Express Corporation                                   0.0
Kalitta Air LLC                                               0.0
National Air Cargo Group Inc d/ba National Airlines           0.0
Polar Air Cargo Airways                                       0.0
Rhoades Aviation dba Transair                                 0.0
United Parcel Service                                         0.0
ABX Air Inc                                                   0.0
Name: PASSENGERS, dtype: float64

In [53]:
# Sum PASSANGERS on inter Hawaiian Islands flights 
intra_HI['PASSENGERS'].sum().sort_values(ascending=False)

UNIQUE_CARRIER_NAME
Hawaiian Airlines Inc.                                  4185901.0
Island Air Hawaii                                        489836.0
Empire Airlines Inc.                                     151301.0
Mokulele Flight Services, Inc.                           150613.0
Makani Kai Air Charters                                    7629.0
United Air Lines Inc.                                      2107.0
American Airlines Inc.                                     1587.0
Alaska Airlines Inc.                                       1499.0
Delta Air Lines Inc.                                        544.0
Atlas Air Inc.                                              235.0
Omni Air International LLC                                  215.0
KaiserAir, Inc.                                             111.0
Avjet Corporation                                            25.0
CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle         10.0
Kalitta Air LLC                                               0.0
Federal Express Corporation                                   0.0
Polar Air Cargo Airways                                       0.0
Rhoades Aviation dba Transair                                 0.0
Aloha Air Cargo                                               0.0
United Parcel Service                                         0.0
Name: PASSENGERS, dtype: float64